@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #d0e9a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo-jogo{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    margin: 40px 0px;
    color: #75B79E;
}

.box-conteudo{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
}

.cards{
    width: 117px;
    height: 146px;
    margin-right: 38px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.escondido{
    display: none;
}

.face .rotacao-esconder{
    transform: rotateY(0deg);
}

.face .rotacao-aparecer{
    transform: rotateY(-180deg);
}

@media (max-width: 860px) {
    h1 {
        font-size: 36px;
    }
}