@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #d0e9a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-jogo{
    width: 540px;
    height: 63px;
    font-size: 56px;
    margin: 40px 0px;
    color: #75B79E;
}

.box-conteudo{
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 38px;
    margin-bottom: 34px;
}
.frente-carta{
    width: 100px;
    height: 100px;
}